ion-icon {
    color:#707070;
}

#logOutIcon {
    font-size: 40px; 
    padding-right: 4%;
    float: right;
    
}
#menuIcon {
    font-size: 40px; 
}
ion-menu-button {
    float: left; 
    width: 60px;
}
ion-title {
    color: dark;
}