ion-content, ion-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ion-icon {
    color:#707070;
}

ion-row {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#backIcon {
    font-size: 40px;  
    margin-left:5%
  
}

#editTeamIcon {
    float: right;
    font-size: 35px;
    margin-top: 1%;
    margin-left: 60%
}

#viewTitle {
    font-size: 18px;
}

hr {
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
}