<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-icon [routerLink]="['/teams/']" id="backIcon" name="chevron-back-outline"></ion-icon>
    <ion-icon id="editTeamIcon" [routerLink]="['/edit-team/', teamData.id]" name="create"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col><p id="viewTitle">{{teamData.name}}</p></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <strong>Nazwa projektu:</strong>
        <p>{{teamData.projectName}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <strong>Członkowie zespołu:</strong>
      </ion-col>
    </ion-row>
    <ng-container *ngFor="let memberData of membersData">
        <ion-row>
          <p *ngIf="memberData.teamName == teamData.name"> {{memberData.nameAndSurname}}</p>
        </ion-row>
        <ion-row>
          <p *ngIf="memberData.teamName == teamData.name"> {{memberData.organizationRole}}</p>
        </ion-row>
        <ion-row>
          <p *ngIf="memberData.teamName == teamData.name"> {{memberData.email}}</p>
        </ion-row>
        <ion-row>
          <p *ngIf="memberData.teamName == teamData.name"> {{memberData.phone}}</p>
        </ion-row>
        <ion-row>
          <p *ngIf="memberData.teamName == teamData.name"> {{memberData.room}}</p>
        </ion-row>
          <hr *ngIf="memberData.teamName == teamData.name">
    </ng-container>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <img id="footer" src="./../../../assets/images/footer.png" alt="footer">
</ion-footer>


