ion-content, ion-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
ion-icon {
    color:#707070;
}

#details {
    text-align: right;
}

#backIcon {
    font-size: 40px;  
    padding-left: 13%;
}

#sadIcon {
    font-size: 100px; 
}

#arrowIcon {
    font-size: 100px;
}

#addTaskIcon {
    font-size: 35px; 
    float: right;
    padding-right: 10%;
    margin-top: 1%;
}

#listIcons {
    font-size: 30px;
    margin-top: 15%;
}

ion-router-link {
    margin-left: 32%;
    font-weight: bold;
}

#viewTitle {
    font-size: 18px;
}

.too-long-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ion-item-option {
    background-color: #ccccff;
}
