ion-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ion-grid {
    margin-top: 20%;
}

ion-button {
    width: 70%;
    height: 150%;
    padding-top: 5%;
}

ion-icon {
    color:#4c5d6b;
}

#backIcon {
    font-size: 45px;
    padding-left: 8%;
}

#sentIcon {
    font-size: 80px;
}

#viewTitle {
    font-size: 18px;
    font-weight: bold;
}

p {
    font-size: 16px;
}

#footer {
    height:102%;
    width: 102%;
}
