<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-icon [routerLink]="['/reset-password']" id="backIcon" name="chevron-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p id="viewTitle">Wysłano wiadomość</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../../../../assets/images/mail.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Na podany adres email została wysłana wiadomość z linkiem do zmiany hasła</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/sign-in']">Zaloguj się</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <img id="footer" src="./../../../assets/images/footer.png" alt="footer">
</ion-footer>
