<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-icon [routerLink]="['/members']"id="backIcon" name="chevron-back-outline"></ion-icon>
    <ion-icon id="editMemberIcon" [routerLink]="['/edit-member/', memberData.id]" name="create"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col><p id="viewTitle">{{memberData.nameAndSurname}}</p></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <strong>Rola w organizacji:</strong>
        <p>{{memberData.organizationRole}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <strong>Adres email:</strong>
        <p>{{memberData.email}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <strong>Numer telefonu:</strong>
        <p>{{memberData.phone}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <strong>Pokój:</strong>
        <p>{{memberData.room}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <strong>Nazwa zespołu:</strong>
        <p>{{memberData.teamName}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <img id="footer" src="./../../../assets/images/footer.png" alt="footer">
</ion-footer>


