<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-icon [routerLink]="['/members']" id="backIcon" name="chevron-back-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <p id="viewTitle">Edytuj członka zespołu</p>
    <img src="../../../../assets/images/editmember.png">
    <ion-list lines="none">
      <ion-item>
        <ion-label>Imię i nazwisko</ion-label>
        <ion-input [(ngModel)]="memberData.nameAndSurname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Rola w organizacji</ion-label>
        <ion-input [(ngModel)]="memberData.organizationRole"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Adres email</ion-label>
        <ion-input [(ngModel)]="memberData.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Telefon</ion-label>
        <ion-input [(ngModel)]="memberData.phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Miejsce pracy</ion-label>
        <ion-input [(ngModel)]="memberData.room"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nazwa zespołu</ion-label>
        <ion-input [(ngModel)]="memberData.teamName"></ion-input>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="editMember(memberData)" fill="clear">EDYTUJ CZŁONKA ZESPOŁU</ion-button>
  </ion-toolbar>
</ion-footer>

