<ion-header>
  <ion-toolbar>
    <ion-title>Zaloguj się</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-icon [routerLink]="['/home']" id="backIcon" name="chevron-back-outline"></ion-icon>
    </ion-toolbar>
  </ion-header>
  
  <ion-grid fixed>
    <ion-row>
      <ion-col id="texts" size="11"><p>Adres email:</p></ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="inputs" size="11">
        <ion-item>
          <ion-label><ion-icon id="authIcons" name="mail-outline"></ion-icon></ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="texts" size="11"><p>Hasło:</p></ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="inputs" size="11">
        <ion-item>
          <ion-label><ion-icon id="authIcons" name="key-outline"></ion-icon></ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col offset-xl size="12">
            <ion-button [routerLink]="['/tasks-list']">Zaloguj się</ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
