ion-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ion-button {
    width: 70%;
    height: 150%;
}

ion-icon {
    color:#707070;
}

#backIcon {
    font-size: 40px;
    padding-left: 8%;
}

#successIcon {
    font-size: 80px;
    text-align: center;
}

#viewTitle {
    font-size: 18px;
}

#inputLabel {
    text-align: left;
    margin-left: 5%;
    font-size: 16px;
}

