<ion-header>
  <ion-toolbar color="secondary">
    <ion-row>
      <ion-col>
        <ion-icon [routerLink]="['/teams']" id="backIcon" name="chevron-back-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col><p id="viewTitle">Dodaj członka zespołu</p></ion-col>
    </ion-row>
    <ion-list lines="none">
      <ion-item>
        <ion-label>Imię i nazwisko</ion-label>
        <ion-input [(ngModel)]="memberData.nameAndSurname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Rola w organizacji</ion-label>
        <ion-textarea [(ngModel)]="memberData.organizationRole"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Adres email</ion-label>
        <ion-textarea [(ngModel)]="memberData.email"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Telefon</ion-label>
        <ion-textarea [(ngModel)]="memberData.phone"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Miejsce pracy</ion-label>
        <ion-textarea [(ngModel)]="memberData.room"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Nazwa zespołu</ion-label>
        <ion-input [(ngModel)]="memberData.teamName"></ion-input>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
      <ion-row>
          <ion-button id="addMember" (click)="addMember(memberData)" fill="clear">DODAJ CZŁONKA</ion-button>
      </ion-row>
  </ion-toolbar>
</ion-footer>

