<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-icon [routerLink]="['/home']" id="backIcon" name="chevron-back-outline"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon [routerLink]="['/sign-in']" id="signInIcon" name="log-in"></ion-icon>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <p id="viewTitle">Panel rejestracji</p>
    <ion-row>
      <ion-col id="inputLabel">
        <p>Adres email:</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
            <ion-icon id="authIcons" name="mail-outline"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="userData.email" type="email" maxlength=320 minlength=3></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="inputLabel">
        <p>Hasło:</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
            <ion-icon id="authIcons" name="key-outline"></ion-icon>
          </ion-label>
          <ion-input id="passwd" [(ngModel)]="userData.password" type="password"  maxlength=128 minlength=6></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="inputLabel">
        <p>Powtórz hasło:</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
            <ion-icon id="authIcons" name="checkmark-outline"></ion-icon>
          </ion-label>
          <ion-input id="passwdConfirm" type="password"  maxlength=128 minlength=6></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="signUpUser(userData)">Zarejestruj się</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <img id="footer" src="./../../../assets/images/footer.png" alt="footer">
</ion-footer>
