ion-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ion-icon {
    color:#707070;
}

#backIcon {
    font-size: 40px;
    padding-left: 13%;
}

#signInIcon {
    font-size: 40px;
    float: right;
    padding-right: 10%;
}

#authIcons {
    font-size: 25px;
}

#viewTitle {
    font-size: 18px;
}

#inputLabel {
    text-align: left;
    margin-left: 5%;
    font-size: 16px;
}

ion-button {
    padding-top: 5%;
    width: 70%;
    height: 150%;
}
