<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-icon [routerLink]="['/account-settings']" id="backIcon" name="chevron-back-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p id="viewTitle">Zmiana adresu email</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="inputLabel">
        <p>Nowy adres email:</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
            <ion-icon id="authIcons" name="mail-outline"></ion-icon>
          </ion-label>
          <ion-input id="emailInput" maxlength=320 minlength=3></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="inputLabel">
        <p>Bieżące hasło:</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
            <ion-icon id="authIcons" name="lock-closed"></ion-icon>
          </ion-label>
          <ion-input id="currentPasswd" type="password" maxlength=320 minlength=6></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-button (click)="updateEmail()">Gotowe</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <img id="footer" src="./../../../assets/images/footer.png" alt="footer">
</ion-footer>
