<ion-header>
  <ion-toolbar color="secondary">
    <ion-row>
      <ion-col>
        <ion-icon [routerLink]="['/account-settings']" id="backIcon" name="chevron-back-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col><p id="viewTitle">Zmiana adresu email</p></ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="texts" size="11"><p>Nowy adres email:</p></ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="inputs" size="11">
        <ion-item>
          <ion-label><ion-icon id="authIcons" name="mail-outline"></ion-icon></ion-label>
          <ion-input id="emailInput" required type="email" maxlength=320 minlength=3></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="texts" size="11"><p>Bieżące hasło:</p></ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="inputs" size="11">
        <ion-item>
          <ion-label><ion-icon id="authIcons" name="lock-closed"></ion-icon></ion-label>
          <ion-input id="currentPasswd" required type="password" maxlength=320 minlength=6></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
          <ion-button (click)="updateEmail()">Zmień</ion-button>
      </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
