ion-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', -apple-system, system-ui;
}

ion-grid {
    margin-top: 10%;
}

ion-icon {
    color:#1f252b;
}

#backIcon {
    font-size: 45px;
    padding-left: 6%;
}

#authIcons {
    font-size: 30px;
}

#viewTitle {
    font-size: 18px;
    font-weight: bold;
}

ion-button {
    padding-top: 5%;
    width: 70%;
    height: 150%;
}

#inputLabel {
    text-align: left;
    margin-left: 2%;
    font-size: 16px;
}

#footer {
    height:102%;
    width: 102%;
}

ion-input {
    font-weight: bold;
    color: #1f252b;
}