<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-icon [routerLink]="['/projects']" id="backIcon" name="chevron-back-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col><p id="viewTitle">Dodaj Projekt</p></ion-col>
    </ion-row>
    <ion-list lines="none">
      <ion-item>
        <ion-label>Nazwa</ion-label>
        <ion-input [(ngModel)]="projectData.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Opis</ion-label>
        <ion-textarea [(ngModel)]="projectData.description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Data rozpoczęcia</ion-label>
        <ion-datetime [(ngModel)]="projectData.dateOfStart" max="2099-12-31" pickerFormat="YYYY-MM-DD" displayFormat="YYYY-MM-DD"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Data ukończenia</ion-label>
        <ion-datetime [(ngModel)]="projectData.dateOfFinish" max="2099-12-31" pickerFormat="YYYY-MM-DD" displayFormat="YYYY-MM-DD"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Nazwa zespołu</ion-label>
        <ion-input [(ngModel)]="projectData.teamName"></ion-input>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="addProject(projectData)" fill="clear">DODAJ PROJEKT</ion-button>
  </ion-toolbar>
</ion-footer>

