ion-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', -apple-system, system-ui;
}

ion-grid {
    padding-top: 10%;
}

ion-router-link {
    color: black;
    font-size: 16px;
}

ion-menu-button {
    float: left;
    width: 80px;
    padding-left: 12%;
}

#logOutIcon {
    font-size: 45px;
    padding-right: 15%;
    float: right;
    color:#1f252b;
}

#menuIcon {
    font-size: 45px;
    color:#1f252b;
}

#viewTitle {
    font-size: 18px;
    font-weight: bold;
}

ion-button {
    height: 80px;
}

#optionIcon {
    font-size: 80px;
    color: #1f252b;
}

#footer {
    height:102%;
    width: 102%;
}