ion-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ion-menu-button {
    float: left;
    width: 60px;
}

#logOutIcon {
    font-size: 40px;
    padding-right: 4%;
    float: right;
    color:#707070;
}

#menuIcon {
    font-size: 40px;
    color:#707070;
}

#viewTitle {
    font-size: 18px;
}

#optionTitle {
    font-size: 16px;
}

ion-button {
    height: 80px;
}

#optionIcon {
    font-size: 80px;
    color: #cec8ef;
}