<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-title color="dark">Zmiana hasła</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-icon [routerLink]="['/home']" id="backIcon" name="chevron-back-outline"></ion-icon>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <p>Wprowadź adres email:</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="11">
        <ion-item>
          <ion-label position="fixed"><ion-icon id="mailIcon" name="mail-outline"></ion-icon></ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-xl size="11"><ion-button >Zatwierdź</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
