ion-content, ion-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', -apple-system, system-ui;
}

ion-icon {
    color:#1f252b;
}

ion-input, ion-textarea, ion-datetime, ion-select {
    font-weight: bold;
    color: #1f252b;
}

img {
    width: 30%;
}

#backButton {
    height: 40px;
}

#backIcon {
    font-size: 45px;
}

#viewTitle {
    font-size: 18px;
    font-weight: bold;
}

#editButton {
    font-weight: bold;
    font-size: 16px;
}