ion-content, ion-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', -apple-system, system-ui;
}

ion-icon {
    color:#1f252b;
}

ion-router-link {
    font-weight: bold;
}

ion-item-option {
    background-color: #b6bfc7;
}

ion-item-option {
    background-color: #b6bfc7;
    border: 5px solid white;
}

ion-item {
    --ion-background-color: #d3dee6 !important;
    border: 5px solid white;
}

img {
    width: 90%;
}

h2 {
    font-weight: bold;
}

#backIcon {
    font-size: 45px;
    padding-left: 13%;
}

#arrowIcon {
    font-size: 100px;
}

#addTeamIcon {
    font-size: 40px;
    float: right;
    padding-right: 16%;
    margin-top: 1%;
}

#editIcon, #detailsIcon {
    font-size: 35px;
}

#detailsIcon {
    margin-top: 2%;
}

#viewTitle {
    font-size: 18px;
    font-weight: bold;
}

#projectName {
    color: #033860;
    font-weight: bold;
}

.longText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}