<ion-app>
  <ion-menu side="start" menuId="navMenu" contentId="main" class="my-custom-menu">
    <ion-header mode="md" class="ion-no-border">
      <ion-toolbar></ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon [routerLink]="['/tasks-categories']" name="pencil-outline"></ion-icon>
          <ion-router-link [routerLink]="['/tasks-categories']">Moje zadania</ion-router-link>
        </ion-item>
        <ion-item>
          <ion-icon [routerLink]="['/events-categories']" name="calendar-outline"></ion-icon>
          <ion-router-link [routerLink]="['/events-categories']">Terminarz spotkań</ion-router-link>
        </ion-item>
        <ion-item>
          <ion-icon [routerLink]="['/teams-projects-categories']" name="people-circle-outline"></ion-icon>
          <ion-router-link [routerLink]="['/teams-projects-categories']">Projekty i zespoły</ion-router-link>
        </ion-item>
        <ion-item>
          <ion-icon [routerLink]="['/statistics-categories']" name="stats-chart-sharp"></ion-icon>
          <ion-router-link [routerLink]="['/statistics-categories']">Statystyki</ion-router-link>
        </ion-item>
        <ion-item>
          <ion-icon [routerLink]="['/account-settings']" name="settings-sharp"></ion-icon>
          <ion-router-link [routerLink]="['/account-settings']">Ustawienia</ion-router-link>
        </ion-item>
      </ion-list>
      <div>
        <img src="../../../../assets/images/logo.png">
      </div>
      <div id="logo">
        <strong>Agile Master</strong>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
