ion-content {
    font-family: Arial, Helvetica, sans-serif;
}

ion-router-link {
    padding-left: 3%;
    padding-top: 7%;
    padding-bottom: 7%;
    color: black;
}

ion-list {
    padding-top: 20%;
}

ion-icon {
    color:#3c0464d3;
}