ion-content, ion-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ion-icon {
    color:#4C5D6B;
}

#backIcon {
    font-size: 40px;
    padding-left: 13%;
}

#details {
    text-align: right;
}

#sadIcon {
    font-size: 100px;
}

#arrowIcon {
    font-size: 100px;
}

#addEventIcon {
    font-size: 35px;
    float: right;
    padding-right: 10%;
}

#listIcons {
    font-size: 30px;
}

ion-router-link {
    margin-left: 28%;
    font-weight: bold;
}

#viewTitle {
    font-size: 18px;
}

.too-long-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ion-item-option {
    background-color: #ccccff;
}
