ion-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ion-grid {
    margin-top: 20%;
}

#viewTitle {
    font-size: 18px;
    font-weight: bold;
}

p {
    font-size: 16px;
}

ion-button {
    width: 70%;
    height: 135%;
    padding-top: 10%;
}

ion-icon {
    color:#3c0464d3;
}

#mailIcon {
    font-size: 30px;
}

#backIcon {
    font-size: 45px;
    padding-left: 8%;
}

#footer {
    height:100%;
    width: 100%;
}
