<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-icon [routerLink]="['/home']" id="backIcon" name="chevron-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col><p id="viewTitle">Zmiana hasła</p></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><p>Podaj adres email, na który zostanie wysłana wiadomość z linkiem do zmiany hasła:</p></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label><ion-icon id="mailIcon" name="mail-outline"></ion-icon></ion-label>
          <ion-input [(ngModel)]="userData.email" type="email" maxlength=320 minlength=3></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button (click)="recoverUserPassword(userData)">Zatwierdź</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
