<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-icon [routerLink]="['/home']" id="backIcon" name="chevron-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <p id="viewTitle">Nie pamiętasz hasła?</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Wpisz adres email do swojego konta:</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label><ion-icon id="mailIcon" name="mail-outline"></ion-icon></ion-label>
          <ion-input [(ngModel)]="userData.email" type="email" maxlength=320 minlength=3></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button (click)="recoverUserPassword(userData)">Gotowe</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <img id="footer" src="./../../../assets/images/footer.png" alt="footer">
</ion-footer>
