ion-content, ion-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Montserrat', -apple-system, system-ui;
}

#logo {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 32%;
}

ion-grid {
  margin-top: 8%;
}

img {
  margin-top: 20%;
  width: 60%;
}

ion-col {
  padding: 5%;
}

ion-button {
  width: 70%;
  height: 150%;
}

.underline {
  text-decoration: underline;
  color: 	#505050;
}

#footer {
  height: 62%;
  width: 100%;
}
