<ion-header mode="md" class="ion-no-border">
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../../assets/images/logo.png">
  <strong id="logo">Agile Master</strong>
  <ion-grid>
      <ion-row>
        <ion-col size="12">
            <ion-button [routerLink]="['/sign-in']">Zaloguj się</ion-button>
        </ion-col>
        <ion-col>
          <ion-router-link class="underline" [routerLink]="['/reset-password']">Nie pamiętasz hasła?</ion-router-link>
        </ion-col>
        <ion-col size="12">
            <ion-button [routerLink]="['/sign-up']">Zarejestruj się</ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <img id="footer" src="./../../../assets/images/footer.png" alt="footer">
</ion-footer>
