<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-icon [routerLink]="['/statistics-categories']" id="backIcon" name="chevron-back-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Projekty i zespoły</h3>
  <ion-grid>
    <ion-row>
      <ion-col id="total">
        <strong>Łączna liczba projektów: {{allProjectsNumber}}</strong>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="total">
        <strong>Łączna liczba zespołów: {{allTeamsNumber}}</strong>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="total">
        <strong>Łączna liczba członków zespołów: {{allMembersNumber}}</strong>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <img id="footer" src="./../../../assets/images/footer.png" alt="footer">
</ion-footer>
