<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-icon [routerLink]="['/statistics-categories']" id="backIcon" name="chevron-back-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div>
      <strong>Łączna liczba projektów: {{allProjectsNumber}}</strong>
    </div>
    <div>
      <img src="../../../../assets/images/statistics3.png">
    </div>
    <div>
      <strong>Łączna liczba zespołów: {{allTeamsNumber}}</strong>
    </div>
    <div>
      <img src="../../../../assets/images/statistics4.png">
    </div>
    <div>
      <strong>Łączna liczba członków zespołów: {{allMembersNumber}}</strong>
    </div>
    <div>
      <img src="../../../../assets/images/statistics5.png">
    </div>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <img id="footer" src="./../../../assets/images/footer.png" alt="footer">
</ion-footer>