ion-content, ion-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ion-icon {
    color:#4C5D6B;
}

#details {
    text-align: right;
}

#backIcon {
    font-size: 45px;
    padding-left: 13%;
}

#arrowIcon {
    font-size: 100px;
}

#addEventIcon {
    font-size: 40px;
    float: right;
    padding-right: 14%;
    margin-top: 1%;
}

#editIcon, #detailsIcon {
    font-size: 35px;
}

#detailsIcon {
    margin-top: 2%;
}

ion-router-link {
    font-weight: bold;
}

#viewTitle {
    font-size: 18px;
    font-weight: bold;
}

.too-long-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

ion-item-option {
    background-color: #b6bfc7;
}