ion-content, ion-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ion-icon {
    color:#4C5D6B;
}

#backIcon {
    font-size: 40px;
    margin-left:5%
}

#editProjectIcon {
    float: right;
    font-size: 35px;
    margin-top: 1%;
    margin-left: 60%
}

#viewTitle {
    font-size: 18px;
}

#descriptionField {
    border-radius: 25px;
    border-color: #E6E6FA;
    border-width: .01em;
    border-style: solid; margin-bottom: -1px;
    background-color: #E6E6FA;
}