<ion-header>
  <ion-toolbar color="secondary">
    <ion-row>
      <ion-col>
        <ion-menu-button menu="navMenu"><ion-icon id="menuIcon" name="menu"></ion-icon></ion-menu-button>
      </ion-col>
      <ion-col>
        <ion-icon (click)="userAuthenticationService.logOut()" id="logOutIcon" name="close-sharp"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col><p id="viewTitle">Projekty i zespoły</p></ion-col>
    </ion-row>
    <ion-list id="categoriesList" lines="none">
      <ion-item>
        <ion-button id="optionButton" [routerLink]="['/projects']" color="tertiary" shape="round">Projekty</ion-button>
      </ion-item>
      <ion-item>
        <ion-button id="optionButton" [routerLink]="['/teams']" color="tertiary" shape="round">Zespoły</ion-button>
      </ion-item>
      <ion-item>
        <ion-button id="optionButton" [routerLink]="['/members']" color="tertiary" shape="round">Członkowie zespołów</ion-button>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
      <ion-row>
        <ion-col>
          <ion-router-link [routerLink]="['/add-project']">Nowy projekt</ion-router-link>
        </ion-col>
        <ion-col>
          <ion-router-link [routerLink]="['/add-team']">Nowy zespół</ion-router-link>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>
