<ion-header>
  <ion-toolbar color="secondary">
    <ion-row>
      <ion-col>
        <ion-menu-button menu="navMenu"><ion-icon id="menuIcon" name="menu"></ion-icon></ion-menu-button>
      </ion-col>
      <ion-col>
        <ion-icon (click)="userAuthenticationService.logOut()" id="logOutIcon" name="close-sharp"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col><p id="viewTitle">Zespoły</p></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
