<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-menu-button menu="navMenu"><ion-icon id="menuIcon" name="menu"></ion-icon></ion-menu-button>
      </ion-col>
      <ion-col>
        <ion-icon (click)="userAuthenticationService.logOut()" id="logOutIcon" name="close-sharp"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col><p id="viewTitle">Terminarz spotkań</p></ion-col>
    </ion-row>
    <ion-list lines="none">
      <ion-item>
        <ion-button [routerLink]="['/scrum-meetings']" shape="round">Spotkania Scrumowe</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['/workshops']" shape="round">Warsztaty</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['/courses']" shape="round">Szkolenia</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['/other-events']" shape="round">Inne</ion-button>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <img id="footer" src="./../../../assets/images/footer.png" alt="footer">
</ion-footer>
