<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-icon [routerLink]="['/statistics-categories']" id="backIcon" name="chevron-back-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div>
      <strong id="total">Łączna liczba spotkań: {{allEventsNumber}}</strong>
    </div>
    <div>
      <img src="../../../../assets/images/statistics2.png">
    </div>
    <div>
      <strong>Liczba spotkań według</strong>
    </div>
    <div>
      <p id="category">Kategorii</p>
    </div>
    <div>
      <p>Spotkania Scrumowe: {{scrumMeetingsEventsNumber}}</p>
    </div>
    <div>
      <p>Warsztaty: {{workshopsEventsNumber}}</p>
    </div>
    <div>
      <p>Szkolenia: {{coursesEventsNumber}}</p>
    </div>
    <div>
      <p>Inne: {{otherEventsNumber}}</p>
    </div>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <img id="footer" src="./../../../assets/images/footer.png" alt="footer">
</ion-footer>
