ion-content, ion-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', -apple-system, system-ui;
}

ion-icon {
    color:#1f252b;
}

ion-grid {
    margin-top: 10%;
}

#backIcon {
    font-size: 45px;
    padding-left: 8%;
}

#total {
    margin-bottom: 10%;
    font-size: 18px;
}

p {
    text-align: left;
    margin-left: 8%;
    margin-top: 5%;
}

li {
    text-align: left;
    margin-bottom: 3%;
}

#category {
    font-weight: bold;
}

#footer {
    width: 100%;
    height: 100%;
}

h3 {
    margin-top: 20%;
}