ion-content, ion-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', -apple-system, system-ui;
    font-weight: bold;
}

ion-icon {
    color:#1f252b;
}

ion-grid {
    margin-top: 10%;
}

img {
    width: 80%;
}

p, strong {
    margin-top: 5%;
}

p {
    color: #696969;
}

strong {
    color: #087CA7;
}

#backIcon {
    font-size: 45px;
    padding-left: 8%;
}

#total {
    font-size: 18px;
}

#category {
    color: #033860;
}

#footer {
    width: 100%;
    height: 100%;
}