ion-content, ion-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', -apple-system, system-ui;
}
ion-button {
    height: 55px;
}

ion-icon {
    color:#1f252b;
}

#backIcon {
    font-size: 50px;
    padding-left: 12%;
}

#editTaskIcon {
    float: right;
    font-size: 40px;
    margin-top: 2.5%;
    margin-right: 9%;
}

#viewTitle {
    font-size: 18px;
    font-weight: bold;
}

#descriptionField {
    border-radius: 35px;
    margin: 5%;
    background-color: #d1e0eb;
}

#footer {
    width: 100%;
    height: 100%;
}

