#logo {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
}

#logo strong {
  font-size: 20px;
  line-height: 26px;
}
ion-grid {
  text-align: center;
  top: 50%;
  position: absolute;
}
ion-col {
  padding: 5%;
}

ion-button {
  width: 70%;
  height: 150%;
}
.underline {
  text-decoration: underline;
}
