ion-content, ion-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ion-icon {
    color:#707070;
}

#backIcon {
    font-size: 40px;  
    padding-left: 8%;
}

#viewTitle {
    font-size: 18px;
}

#addTeam {
    height: 50%;
    width: 60%;
    margin-left: 32%;
    font-weight: bold;
    margin: auto;
    font-size: 14px;
}

#addMemberIcon {
    font-size: 35px; 
    float: right;
    padding-right: 6%;
}