<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-icon [routerLink]="['/teams']" id="backIcon" name="chevron-back-outline"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon id="addTeamIcon" [routerLink]="['/add-member']" name="people"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <p id="viewTitle">Dodaj zespół</p>
    <img src="../../../../assets/image/addteam.png">
    <ion-list lines="none">
      <ion-item>
        <ion-label>Nazwa</ion-label>
        <ion-input [(ngModel)]="teamData.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nazwa projektu</ion-label>
        <ion-input [(ngModel)]="teamData.projectName"></ion-input>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="addTeam(teamData)" fill="clear">DODAJ ZESPÓŁ</ion-button>
  </ion-toolbar>
</ion-footer>

