<ion-header>
  <ion-toolbar color="secondary">
    <ion-row>
      <ion-col>
        <ion-icon [routerLink]="['/statistics-categories']" id="backIcon" name="chevron-back-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <strong>Liczba zadań według:</strong>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Miesiąca: {{analystsTasksNumber}}  {{developmentTeamTasksNumber}}</p> 
      </ion-col> 
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Styczeń: 20</p>
      </ion-col>
      <ion-col>
        <p>Luty: 20</p>
      </ion-col>
      <ion-col>
        <p>Marzec: 40</p>
      </ion-col>
      <ion-col>
        <p>Kwiecień: 50</p>
      </ion-col>
      <ion-col>
        <p>Maj: 40</p>
      </ion-col>
      <ion-col>
        <p>Czerwiec: 44</p>
      </ion-col>
      <ion-col>
        <p>Lipiec: 55</p>
      </ion-col>
      <ion-col>
        <p>Sierpień: 44</p>
      </ion-col>
      <ion-col>
        <p>Wrzesień: 99</p>
      </ion-col>
      <ion-col>
        <p>Październik: 44</p>
      </ion-col>
      <ion-col>
        <p>Listopad: 55</p>
      </ion-col>
      <ion-col>
        <p>Grudzień: 77</p>
      </ion-col>
    </ion-row>
    
  </ion-grid>

</ion-content>
