<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-icon [routerLink]="['/statistics-categories']" id="backIcon" name="chevron-back-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div>
      <strong id="total">Łączna liczba zadań: {{allTasksNumber}}</strong>
    </div>
    <div>
      <img src="../../../../assets/image/statistics.png">
    </div>
    <div>
      <strong>Liczba zadań według</strong>
    </div>
    <div>
      <p id="category">Priorytetów</p>
    </div>
    <div>
      <p>wysoki: {{lowPriorityTasksNumber}}</p>
    </div>
    <div>
      <p>średni: {{mediumPriorityTasksNumber}}</p>
    </div>
    <div>
      <p>niski: {{lowPriorityTasksNumber}}</p>
    </div>
    <div>
      <p id="category">Kategorii</p>
    </div>
    <div>
      <p>Zespół deweloperski: {{developmentTeamTasksNumber}}</p>
    </div>
    <div>
      <p>Product Owner: {{productOwnerTasksNumber}}</p>
    </div>
    <div>
      <p>Organizacja: {{companyTasksNumber}}</p>
    </div>
    <div>
      <p>Edukacja: {{educationTasksNumber}}</p>
    </div>
    <div>
      <p>Pozostałe: {{otherTasksNumber}}</p>
    </div>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <img id="footer" src="./../../../assets/image/footer.png" alt="footer">
</ion-footer>
