<ion-header>
  <ion-toolbar color="secondary">
    <ion-row>
      <ion-col>
        <ion-icon [routerLink]="['/statistics-categories']" id="backIcon" name="chevron-back-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <p>Łączna liczba zadań: {{allTasksNumber}}</p>
    </ion-row>
    <ion-row>
      <ion-col>
        <strong>Liczba zadań według:</strong>
      </ion-col>
    </ion-row>
      <p>Kategorii:</p>
      <p>Analitycy: {{analystsTasksNumber}}</p>
      <p>Zespół deweloperski: {{developmentTeamTasksNumber}}</p>
      <p>Product Owner: {{productOwnerTasksNumber}}</p>
      <p>Organizacja: {{companyTasksNumber}}</p>
      <p>Edukacja: {{educationTasksNumber}}</p>
      <p>Pozostałe: {{otherTasksNumber}}</p>
      <p>Priorytetów:</p>
      <p>Wysoki: {{lowPriorityTasksNumber}}</p>
      <p>Średni: {{mediumPriorityTasksNumber}}</p>
      <p>Niski: {{lowPriorityTasksNumber}}</p>
  </ion-grid>

</ion-content>
