<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-menu-button menu="navMenu">
          <ion-icon id="menuIcon" name="menu"></ion-icon>
        </ion-menu-button>
      </ion-col>
      <ion-col>
        <ion-icon (click)="userAuthenticationService.logOut()" id="logOutIcon" name="close-sharp"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p id="viewTitle">Moje zadania</p>
      </ion-col>
    </ion-row>
    <ion-list lines="none">
      <ion-item>
        <ion-button [routerLink]="['/analysts']" shape="round">Analitycy</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['/development-team']" shape="round">Zespół deweloperski</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['/product-owner']" shape="round">Product Owner</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['/company']" shape="round">Organizacja</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['/education']" shape="round">Edukacja</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['/other-tasks']" shape="round">Pozostałe zadania</ion-button>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <img id="footer" src="./../../../assets/images/footer.png" alt="footer">
</ion-footer>
