<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-icon [routerLink]="['/events-categories']" id="backIcon" name="chevron-back-outline"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon id="addEventIcon" [routerLink]="['/add-event']" name="add-circle"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p id="viewTitle">Spotkania Scrumowe</p>
      </ion-col>
    </ion-row>
    <div *ngIf="eventsData == 0">
      <p>Nie dodałeś/aś jeszcze żadnego spotkania?</p>
      <img src="../../../../assets/images/event.png">
      <p>Naciśnij</p>
      <ion-icon id="arrowIcon" name="arrow-down-outline"></ion-icon>
    </div>
    <ion-list lines="none">
      <ion-item-sliding *ngFor="let eventData of eventsData">
        <ion-item>
          <ion-label>
            <ion-row>
              <ion-col size="7">
                  <h2 class="longText" >{{eventData.name}}</h2>
                  <p id="date">{{eventData.date}} {{eventData.startTime}}</p>
              </ion-col>
              <ion-col size="2">
                  <ion-icon [routerLink]="['/edit-event/', eventData.id, eventData.category]" id="editIcon" name="create-outline"></ion-icon>
              </ion-col>
              <ion-col size="2">
                <ion-button (click)="navigateToEventDetails(eventData)" fill="clear">
                  <ion-icon id="detailsIcon" name="arrow-forward-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="deleteEvent(eventData.id)">
            <ion-icon color="primary" slot="icon-only" name="trash-sharp"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-router-link [routerLink]="['/add-event']">NOWE SPOTKANIE</ion-router-link>
  </ion-toolbar>
</ion-footer>
